body {
  background: #7474BF;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to left, #06916a41, #06916a7e);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to left, #06916a41,#06916a7e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  place-items: center;

}

.navbar-brand {
  font-family: 'New Tegomin', serif;
  font-size: 2rem;
}

.nav-link {
  text-transform: uppercase;
  font-family: 'New Tegomin', serif;
}

.letra{
  font-family: 'New Tegomin', serif;
}

header img {
  width: 60%;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.footer-copyright{
  height: 50px;
  line-height: 50px;
  font-weight: 300;
  color: white;
  
}

#myButton{
  background-color: #069169; 
  border-color: black;
}
.CentrarConteiner{
    margin-left: auto;
    margin-right: auto;
}

.ErrorMensaje{
  font-family: 'New Tegomin';
  background: #fed7d8;
  margin-left: auto;
  margin-right: auto;
}

.BuenMensaje{
  font-family: 'New Tegomin';
  background: #d8fed7;
  margin-left: auto;
  margin-right: auto;
}
